#service-wrapper{

    display: flex;
    flex-direction: column;

    background-color: rgba(232,241,255,1);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
/*     render: 헤더 컴포넌트 렌더링          */
.service-header{
    
    height: 62px;
    max-width: 1440px;

    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgba(232,241,255,1);
}

.logo-box{

    width: 131px;
    height: 31px;

    margin: 8px 0px 0px 35px;
    
    display: flex;

    flex-direction: row;
    gap: 10px;
}

.logo-icon-box{

    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url(assets/logo-icon.png);
    background-size: 100% 100%;
    background-position: 50% 50%;

}

.logo-title{
    /* 갓생살기 */
    width: 91px;
    height: 32px;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 400%;
    font-size: 25px;

    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.375px;

    color: rgba(0,0,0,1);
}

.header-center{
    margin: 12px 660px 0px 87px;
    height: 35px;
    width: calc(100vw-202px-28px-24px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;    
}

.header-room-title-box{
    width: 330px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;    

    border-radius: 10px;
    border: 3.5px solid rgba(24, 160, 251, 0.50);
    background-color: rgba(255,255,255,1);
}

.header-room-title{
    width: 280px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: rgba(0,0,0,1);
    font-family: Spoqa Han Sans Neo;
    font-size: 19px;

    font-weight: 400;
    letter-spacing: -0.285px;
}

.header-room-date-box{
    width: 200px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    
    border-radius: 10px;
    border: 3.5px solid rgba(24, 160, 251, 0.50);
    background-color: rgba(255,255,255,1);
}

.progress-time{
    width: 200px;
    height: 35px;

    display: flex;  
    align-items: center;
    justify-content: center;
    
    color: rgba(0,0,0,1);
    font-family: Spoqa Han Sans Neo;
    font-size: 19px;    

    font-weight: 400;
    letter-spacing: -0.285px;
}

.header-end{
    height: 24px;
    display: flex;
    flex-direction: row;
    gap:28px;
    justify-content:right;
}

.header-setting{

    width: 60px;
    height: 24px;

    gap: 5px;
    
    display: flex;
    flex-direction: row;
}

.header-setting:hover{
    cursor: pointer;
}

.header-settings-icon{

    margin: 2px 0px;
    width: 20px;
    height: 20px;

    background-image: url(assets/setting-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%;    
}

.header-settings-icon:hover{
    cursor: pointer;

}

.header-setting-contents{
    width: 35px;
    height: 24px;

    font-family: Spoqa Han Sans Neo;
   
    font-weight: 400;
    font-size: 19px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.285px;
    color: rgba(0,0,0,1);
}

.header-setting-contents:hover{
    cursor: pointer;
    /* color: rgba(0,0,0,0.5);     */
}

.header-exit{
    width: 77px;
    height: 24px;

    display: flex;
    flex-direction: row;
    gap: 5px;
}

.header-exit:hover{
    cursor: pointer;
    
}

.header-exit-icon{
    margin: 2px 0px;
    width: 20px;
    height: 20px;

    background-image: url(assets/exit-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%;    
}

.header-exit-icon:hover{
    cursor: pointer;

}

.header-exit-contents{
    width: 52px;
    height: 24px;

   font-family: 'Spoqa Han Sans Neo';
   
    font-weight: 400;

    font-size: 19px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    text-align: center;
    letter-spacing: -0.285px;
    color: rgba(0,0,0,1);
}

.header-exit-contents:hover{
    cursor: pointer;
    /* color: rgba(0,0,0,0.5); */
}

.service-container{
    width: calc(100vw-216px);
    max-width: 1440px;
    height: 1024px;
    max-height: 1024px;
    display: flex;

    flex-direction: row;

}

.side-bar{
    max-width: 238px;
    height: calc(vh-62px);   
    /* padding-top: 62px; */
    background-color: rgba(232,241,255,1);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;

}

.alert-box{
    /* margin: 0px 0px 4px 15px; */
    
    margin-bottom: 10px;
    width: 170px;
    height: 35px;

    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;

}

.alert-title-1{
    width: 85px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 17px 0px 0px 17px;
    background-color: rgba(24, 160, 251,0.7);

    /* font */
    color: rgba(0,0,0,1);
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.3px;    
}

.alert-title-1:hover{
    cursor: pointer;
}

.alert-title-2{
    width: 85px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255,255,255,1);

    border-radius: 17.266px 0px 0px 17.266px;

    border-top: 3.5px solid rgba(24, 160, 251, 0.50);
    border-right: 1.5px solid rgba(24, 160, 251, 0.50);
    border-bottom: 3.5px solid rgba(24, 160, 251, 0.50);
    border-left: 3.5px solid rgba(24, 160, 251, 0.50);


    /* font */
    color: rgba(0,0,0,1);
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.3px;   
}

.alert-title-2:hover{
    cursor: pointer;
}

.alert-message-1{
    width: 85px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;   
    
    border-radius: 0px 17px 17px 0px;

    background-color: rgba(255,255,255,1);

    border-top: 3.5px solid rgba(24, 160, 251, 0.50);
    border-right: 3.5px solid rgba(24, 160, 251, 0.50);
    border-bottom: 3.5px solid rgba(24, 160, 251, 0.50);
    border-left: 1.5px solid rgba(24, 160, 251, 0.50);

    /* font */
    color: rgba(0,0,0,1);
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.3px;   

}

.alert-message-1:hover{
    cursor: pointer;
}

.alert-message-2{
    width: 85px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0px 17px  17px 0px;
    background-color: rgba(24, 160, 251,0.7);

    /* font */
    color: rgba(0,0,0,1);
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.3px;       


}

.alert-message-2:hover{
    cursor: pointer;
}

.notice-box{
    width: 192px;
    height: 158px;

    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.notice-contents-box{   
    
    width: 100px;
    height: 23px;

    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 0px 68px 0px 10px;
}

.notice-icon{
    margin-bottom: 1px;

    width: 20px;
    height: 20px;

    background-image: url(assets/notice-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.notice-icon{
    cursor: pointer;
}

.notice-title{
    width: 62px;
    height: 21px;

    color: rgba(0,0,0,1);
    text-align: center;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.225px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.notice-message{
    width: 192px;
    height: 132px;
    border-radius: 11px;
    border: 3.5px solid rgba(24, 160, 251, 0.50);

    background-color: rgba(255,255,255,1);

    padding: 2px 2px;
}

.list-box{
    width: 192px;
    height: 174px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    margin-bottom: 11.5px;
}

.list-contents-box{
    margin: 0px 8px 0px 10px;
    
    width: 147px;
    height: 21px;

    display: flex;
    flex-direction: row;
    gap: 5px;
}

.list-icon{
    margin-bottom: 1px;

    width: 20px;
    height: 20px;

    background-image: url(assets/list-icon.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.list-icon :hover{
    cursor: pointer;
}

.list-title{

    width: 122px;
    height: 21px;
    
    color: rgba(0,0,0,1);

    font-family: Spoqa Han Sans Neo;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.255px;    

    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.list-message{
    width: 192px;
    height: 132px;
    
    border-radius: 11px;
    border: 3.5px solid rgba(24, 160, 251, 0.50);

    background-color: rgba(255,255,255,1);

    padding: 2px 2px;
}

.comment-box{

    margin: 0px 17px 32px 20px;
    height: 515px;
    max-height: 515px;
    width: 192px;

    border-radius: 17.266px;
    border: 3.5px solid rgba(24, 160, 251, 0.50);
    background: rgba(232,241,255,1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-contents-box{
    width: 170px;
    height: 25px;
    
    padding-top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 4.8px;
    margin-bottom: 8.5px;
}

.comment-contents-box :hover{
    cursor: pointer;
}

.comment-icon{
    
    width: 25px;
    height: 25px;

    background-image: url(assets/comment-icon.png);
    background-size: 100% 100%;
    background-position: 50% 50%;    
}

.comment-title{
    width: 104px;
    height: 25px;

    display: flex;
    align-items: center;


    font-family: Spoqa Han Sans Neo;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.195px;
    text-align: center;

    text-wrap: nowrap;

    color: rgba(0,0,0,1);

    margin-left: 5px;

}

.delete-icon{
    margin-left: 8px;
    width: 25px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(assets/delete-icon.png);
    background-size: 100% 100%;
    background-position: 50% 50%;      
}

.delete-icon ::hover{
    cursor: pointer;
}

.comment-list{
    height: 390px;
    width: 185px;

    margin: 11px 0px  10px;
    /* overflow:scroll; */

    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(255,255,255,1);

    scrollbar-face-color: rgba(24, 160, 251, 1);
    scrollbar-track-color : rgba(24, 160, 251, 1)
}

.comment-record-box{
    width: 174px;
    min-width: 174px;
    height: 360px;

    margin-top: 6px;

}

.comment-list-item-top{
    width: 128px;
    height: 15px;
    
    display: flex;  
    align-items: center;
    flex-direction: row;  
    gap: 2px;
}

.comment-list-class-image-box{
    width: 15px;
    height: 15px;
    align-items: center;
}

.comment-list-class-king-image{
    width: 100%;
    height: 100%;

    border-radius: 50% 50%;

    background-image: url(assets/king-icon.png);    
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.comment-list-class-normal-image{
    width: 100%;
    height: 100%;

    border-radius: 50% 50%;

    background-image: url(assets/normal-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%;   
}

.comment-list-profile-image-box{
    width: 15px;
    height: 15px;
    align-items: center;
}

.comment-list-profile-image{
    border-radius: 50% 50%;
    width: 100%;
    height: 100%;


    background-position: 50% 50%;
    background-size: 100% 100%;
}


.comment-list-user-grade{
    align-items: center;
    color: rgba(0, 0, 0, 1);
    font-family: 'Spoqa Han Sans Neo';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.18px;
    text-align: center;
}

.comment-list-user-nickname{
    align-items: center;
    color: rgba(0, 0, 0, 1);
    font-family: 'Spoqa Han Sans Neo';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.18px;    
    text-align: center;
}

.comment-list-edit-icon-box{
    width:10px;
    height: 10px;
    align-items: center;
}

.comment-list-edit-icon{
    width: 100%;
    height: 100%;
    align-items: center;
    background-image: url(assets/comment-edit-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.comment-list-edit-icon:hover{
    cursor: pointer;
}

.comment-record-box:hover{
    cursor: pointer;
}

.notice-scrollbar-box{
    width: 12px;
    height: 460px;

    border-radius: 5px;
    background-color: rgba(24, 160, 251, 0.50);

    margin: 11px 5px 9px 0px;

}


.comment-write-box{
    width: 172px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

.comment-write{
    max-height: 60px;
    border-radius: 10px;
    background-color: rgba(255,255,255,1);

    overflow: scroll;
    resize: none;
    border: none;
    outline: none;
    /* font */
    font-size: 14px;
    font-weight: 400;

    -ms-overflow-style: none;
}

.comment-write::-webkit-scrollbar{
    display: none;
}
/* chat card component */

.chat-box{
    width: 190px;
    height: 820px;

    margin: 0px 20px 90px;

    border-radius: 15px;
    border: 3px solid rgba(24, 160, 251, 0.50);
    
    display: flex;


    flex-direction: column;

    background-color: rgba(232,241,255,1);
    padding: 0px 10px 5px;
}

.comment-chat-box{
    width: 100%;
    height : 754px;

}

.chat-write-box{
    width: 170px;
    height: 80px;

    /* margin: 0px 7px 6px; */
    display: flex;
    border-radius: 10px;
    
}

.chat-write{

    max-height: 80px;
    border-radius: 10px;
    
    -ms-overflow-style: none;

    overflow: scroll;

    resize: none;
    border: none;
    outline: none;
    /* font */
    font-size: 14px;
    font-weight: 400;
    
    background: rgba(255,255,255,1);
}

::-webkit-scrollbar {
    display: none;
}

.comment-contents-index::-webkit-scrollbar{
    display:none;
}

.service-contents{

    padding-top: 17px;
    background-color: rgba(255,255,255,1);
    
    display: flex;
    flex-direction: row;
    max-height: 1000px;
}



.study-list-contents-box{

    height: 920px;

    margin: 0px 15px 80px 25px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

}

.study-image-container-info{
    width: 1160px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;


    border-radius: 17.3px;

    background: rgba(255,255,255,1);
    
    /* margin-left: 10px; */
}

/* render  :자료 이미지 카드 컴포넌트 */
.study-image-material-box{
    width: 1140px;
    height: 800px;

    border-radius: 17.266px;
    border: 3.5px solid rgba(24, 160, 251, 0.50);
    background: rgba(255,255,255,1);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 16px;
}

.study-image-material{
    width: 1115px;
    height: 780px;
    
    border: 1.151px solid rgba(0,0,0,1);

    display: flex;
    align-items: center;
    justify-content: center;    
}

/*       render : 자료 이미지 리스트 컴포넌트 렌더링       */

.study-list-image-contents{
    width: 1200px;
    height: 128px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;

    /* margin-left: 10px; */
}

.left-arrow-box{
    width: 30px;
    height: 146px;
    border-radius: 34px 0px 0px 34px;
    border: 1px solid rgba(24, 160, 251, 0.50);
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(232,241,255,1);   
}

.left-arrow{
    width: 25px;
    height: 25px;

    background-image:url(assets/left-arrow-icon.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.left-arrow:hover{
    cursor: pointer;
}

.study-list-center{
    width: 1080px;
    height: 146px;
    
    display: flex;
    align-items: center;

    background-color: rgba(232,241,255,1); 
    
    padding-left: 30px;
}

.study-list-box{
    width: 900px;
    height: 128px;

    display: flex;
    align-items: center;

    flex-direction: row;
    gap: 15px;

    margin-right: 20px;
    
}

.study-list{
    width: 770px;
    height: 116px;

    display: flex;
    align-items: center; 

    flex-direction: row;

    border: none;
}

.study-material-image-box{
    width: 140px;
    height: 130px;    

    position: relative;
}

.study-material-image-box:hover{
    cursor: pointer;
}

.study-material-image{
    width: 140px;
    height: 130px;    

}

.study-material-image:hover{
    cursor: pointer;
}

.delete-button-box{
    width: 20px;
    height: 20px;

    position: absolute;
    top: 5px;
    right: 5px;

    background-image: url(assets/elimate-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.delete-button-box:hover{
    cursor: pointer;
}

.material-image{
    width: 120px;
    height: 115px;
    
    border: 1px solid rgba(0,0,0,1);
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.material-image-acticve{
    width: 120px;
    height: 115px;

    border: 1px solid rgba(0,0,0,1);
    background-position: 50% 50%;
    background-size: 100% 100%;

    position: relative;
}

.material-image:hover{
    cursor: pointer;
}

.study-list-materials-box{
    width: 100%;
    height: 100%;

    position: relative;
}



.study-list-move-icon-box {
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(232,241,255,1);   
    margin-left: 5px;
}

.study-list-move-icon-box:hover {
    cursor: pointer;
}

.study-list-move-icon{
    width: 100%;
    height: 100%;
    
    background-image: url(assets/plus-icon.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
}


.right-arrow-box{

    width: 30px;
    height: 146px;
    border-radius: 0px 34.531px 34.531px 0px;
    border: 1px solid rgba(24, 160, 251, 0.50);
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(232,241,255,1);   

}

.right-arrow{
    width: 25px;
    height: 25px;

    background-image:url(assets/right-arrow-icon.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.right-arrow:hover{
    cursor: pointer;
}

/* render : 스터디 인원  정보 컴포넌트 */
.study-info-memeber-info-box{
    width: 228px;
    height: 820px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 3.5px solid rgba(24, 160, 251, 0.50);


    background-color: rgba(232,241,255,1);
    
    padding-left: 30px;
}

.study-info-memeber-info{
    width: 195px;
    height: 715px;

    display: flex;
    align-items: center;
}

.user-wrapper{
    width: 155px;
    height: 145px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
    position: relative;
}

.user-hand-position{
    position: absolute;
    top: -1dpx;
    left: -10px;
}

.user-hand-box{
    width: 55px;
    height: 55px;
}

.user-hand{
    width: 100%;
    height: 100%;

    background-image: url(assets/hand-icon.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.user-top{
    margin: 20px 7.5px 2px;
    width: 140px;
    height: 103px;

    display: flex;
    flex-direction: row;
}

.user-top-image-default-box{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(assets/study-user-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.user-bottom{
    width: 119px;
    height: 20px;

    margin-bottom: 5px;

    margin: 1px 7.5px 2px;
    display: flex;
    flex-direction: row;

    gap: 2px;
}

.user-bottom-grade-box{
    width: 15px;
    height: 15px;
}

.user-bottom-grade-king-image{
    width: 100%;
    height: 100%;

    border-radius: 50% 50%;

    background-image: url(assets/king-icon.png);    
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.user-bottom-grade-normal-image{
    width: 100%;
    height: 100%;

    border-radius: 50% 50%;

    background-image: url(assets/normal-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%; 
}

.user-bottom-profile-box{
    width: 15px;
    height: 15px;
}

.comment-list-profile-image{
    width: 100%;
    height: 100%;

    border-radius: 50% 50%;

    background-position: 50% 50%;
    background-size: 100% 100%; 
}

.user-bottom-nickname{
    color: rgba(0,0,0,1);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.18px;
    font-family: Spoqa Han Sans Neo;
}

/*        render : 스터디 인원  동작 컴포넌트 렌더링      */
.icon-box-list{
    width: 195px;
    height: 90px;        
    margin: 0px 12px 10px 0px;
    
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.check-icon-box{
    width: 195px;
    height: 40px;

    padding: 5px 22px 5px 15px;

    display: flex;  
    align-items: center;
    flex-direction: row;
    gap: 10px;

    border: 3.5px solid rgba(24, 160, 251, 0.5);

    border-radius: 10px;
    background-color: rgba(255,255,255,1);
}

.check-icon-box:hover{
    cursor: pointer;
}

.check-icon{
    width: 30px;
    height: 30px;

    background-image: url(assets/comment-icon.png);
    background-size: 100% 100%;
    background-position: 50% 50%;    
}

.check-icon-title{
    width: 118px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgba(0,0,0,1);

    font-family: 'Spoqa Han Sans Neo';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.3px;

    text-wrap: nowrap;
}



.hand-icon-box{
    width: 195px;
    height: 40px;

    padding: 5px 85px 5px 15px;

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    border: 3.5px solid rgba(24, 160, 251, 0.5);

    border-radius: 10px;
    background-color: rgba(255,255,255,1);
}

.hand-icon-box:hover{
    cursor: pointer;
}

.hand-icon{
    width: 40px;
    height: 40px;

    background-image: url(assets/hand-icon.png);
    background-size: 100% 100%;
    background-position: 50% 50%;   

    display: flex;
    align-items: center;
    justify-self: center;
}

.hand-icon-title{

    width: 55px;
    height: 25px;

    margin: 10px 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgba(0,0,0,1);

    font-family: 'Spoqa Han Sans Neo';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.3px;
        
    text-wrap: nowrap;
}

.comment-track-vertical {
    top: 2px;
    bottom: 2px;
    right: 8px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.111);
}

.comment-track-vertical .comment-thumb-vertical {
    padding: 0 8px 0 0;
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(24, 160, 251, 1);
}