#notice-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(125, 127, 129, 0.8);
    z-index: 1000;

    font-family: 'Spoqa Han Sans Neo';
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice-card {
    width: 900px;
    height: 870px;

    border-radius: 15px;
    border: 3px solid rgba(24, 160, 251, 1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(232, 241, 255, 1);
    border-radius: 30px;
    position: relative;
}

.notice-button-box {
    margin: 15px 25px 15px 823px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close-button {
    width: 52px;
    height: 40px;

    background-color: rgba(255, 255, 255, 1);
    border: 3px solid rgba(24, 160, 251, 1);
    border-radius: 10px 10px;

    font-family: 'Spoqa Han Sans Neo';
    font-size: 20px;
}

.modal-close-button:hover {
    cursor: pointer;
    background-color: rgba(24, 160, 251, 0.50);
}


.notice-title-box {
    width: 177px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 3px solid rgba(24, 160, 251, 1);
    background-color: rgba(24, 160, 251, 0.70);

    margin-bottom: 35px;
}

.notice-title {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.1px;
    text-wrap: nowrap;
}

.notice-write-box {

    width: 845px;
    height: 50px;
    margin: 0px 10px 15px 45px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.notice-write-name {
    width: 108px;
    height: 50px;
    color: #000;

    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;

    display: flex;
    align-items: center;
}

.notice-write-input-box {
    width: 672px;
    height: 50px;

    padding-left: 16px;
    padding-right: 20px;

    display: flex;
    align-items: center;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);

    -ms-overflow-style: none;
    border: none;
    resize: none;
}

.notice-write-input {
    width: 636px;
    height: 25px;
    
    color: rgba(0, 0, 0, 1);

    font-family: 'Spoqa Han Sans Neo';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.3px;

    border: none;
    resize: none;
    overflow: hidden;
}

.notice-write-input:focus {
    outline: 0;
}

.notice-write-plus-box {
    width: 80px;
    height: 50px;

    margin-left: 5px;

    border-radius: 10px;
    border: 3px solid rgba(24, 160, 251, 0.50);

    background: rgba(255, 255, 255, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
}

.notice-write-plus-box:hover {
    cursor: pointer;
    background-color: rgba(24, 160, 251, 0.50);
}


.notice-content-box {
    width: 770px;
    height: 570px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 1);

    border-radius: 10px;
    margin-bottom: 80px;
}

.notice-contents-left-box {
    width: 755px;
    height: 570px;

    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 1);
}

.notice-track-vertical {
    top: 2px;
    bottom: 2px;
    right: 8px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.111);
}

.notice-track-vertical .notice-thumb-vertical {
    padding: 0 7px 0 0;
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(24,160,251,1);
}