#auth-wrapper {
    min-width: 1440px;
    min-height: 1024px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(/src/assets/background.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.auth-box {
    width: 500px;
    height: 800px;

    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.auth-top-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
}

.auth-top-logo-icon-box {
    width: 358px;
    height: 80px;
    
    border: 1px solid rgba(0, 0, 0, 1);

    margin: 25px 71px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-top-message {
    color: rgba(0, 0, 0, 1);

    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
}

.auth-middle-error-message-box {
    margin: -20px 0 0;
    width: 400px;
    height: 84px;

    display: flex;
    align-items: center;

    background-color: rgba(255, 175, 163, 1);
    
    gap: 20px;
}

.login-error-icon-box {
    margin-left: 10px;

    width: 46px;
    height: 46px;
}

.auth-middle-error-message {
    color: rgba(0, 0, 0, 1);

    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;

    white-space: pre-wrap;
}

.login-description {
    font-weight: 700;
}

.auth-middle-registered-account-message-box {
    margin: -20px 0 0;
    width: 400px;
    height: 84px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-middle-registered-account-message {
    color: rgba(0, 0, 0, 1);

    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;

    white-space: pre-wrap;
}