#main-top-wrapper {

    padding: 32px 35px 16px;

    font-family: 'Spoqa Han Sans Neo';

    display: flex;
    justify-content: center;
    
    background-color: rgba(232,241,255,1);
}

.main-top-container {
    width: 1374px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-top-up-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-top-up-box-studyroom-title {
    color: rgba(0,0,0,1);

    font-size: 26px;
    font-weight: 500;
}

.main-top-up-box-studyroom-tap {
    height: 279px;

    border-width: 2px;  
    color: rgba(0,0,0,1);
    border-style: solid;
    width: 100%;
}

.main-top-down-box {
    display: flex;
    gap: 20px;
}

.main-top-down-calendar-box {
    display: flex;
    flex-direction: column;

    gap: 10px;

}

.main-top-down-box-calendar-title {
    color: rgba(0,0,0,1);

    font-size: 26px;
    font-weight: 500;
}

.main-top-down-box-calendar {
    height: 359px;
    width: 636px;

    color: rgba(24,160,251,1);
    border-width: 2px;  
    border-style: solid;
    border-radius: 5px;
}

.main-top-down-todolist-box {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.main-top-down-box-todolist-title {
    color: rgba(0,0,0,1);

    font-size: 26px;
    font-weight: 500;
}

.main-top-down-box-todolist {
    height: 359px;
    width: 714px;

    color: rgba(24,160,251,1);
    border-width: 2px;  
    border-style: solid;
    border-radius: 5px;
}

