#studyroom-join-modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(125, 127, 129, 0.8);
    z-index: 1000;
}
.studyroom-join-modal-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    gap: 15px;

    background-color: rgba(232, 241, 255, 1);

    border: 4px solid rgba(24, 160, 251, 1);
    border-radius: 10px;

    padding: 40px 55px 38px 55px;
}
.studyroom-join-modal-card-close-button-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 70px;
    right: 55px;
}
.studyroom-join-modal-card-close-button{
    height: 50px;
    width: 50px;

    background-image: url(/src/assets/main-modal-close-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.studyroom-join-modal-card-close-button:hover{
    cursor: pointer;
}

.studyroom-join-modal-header{
    width: 1160px;
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 15px;
}
.studyroom-image-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 310px;
    height: 220px;
    border-radius: 10px;
    border: 4px solid rgba(24, 160, 251, 0.50);
    background-color: white;
}
.studyroom-default-image{
    width: 100px;
    height: 100px;

    background-image: url(/src/assets/study-room-default-image-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%; 
}

.studyroom-join-modal-header-content{
    height: 190px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.studyroom-title{
    color: #000;

    font-family: Spoqa Han Sans Neo;
    font-size: 35px;
    font-weight: 500;
    line-height: 115%;
}
.studyroom-disclosure{
    color: #000;

    font-family: Spoqa Han Sans Neo;
    font-size: 35px;
    font-weight: 500;
    line-height: 115%;
}
.studyroom-category{
    color: #000;

    font-family: Spoqa Han Sans Neo;
    font-size: 35px;
    font-weight: 500;
    line-height: 115%;
}
.studyroom-master-info-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.studyroom-master-profile-image-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.studyroom-master-grade-image{
    width: 35px;
    height: 35px;

    background-image: url(/src/assets/studuy-grade-master-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%; 
}

.studyroom-master-nickname{
    color: #000;

    font-family: Spoqa Han Sans Neo;
    font-size: 30px;
    font-weight: 500;
    line-height: 115%;
}
.studyroom-join-modal-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    gap: 20px;
}
.studyroom-info-container{
    width: 1160px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.studyroom-info-box{
    border: 4px solid rgba(24, 160, 251, 0.70);
    background-color: white;
    border-radius: 10px;

    padding: 15px 25px;
}
.studyroom-info-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.studyroom-info-state-box{
    width: 545px;
    height: 120px;
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.studyroom-participation-personnel-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.studyroom-participation-personnel-title-box{
    width: 210px;
    height: 54px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(24, 160, 251, 0.7);
    border-radius: 5px;
}
.studyroom-participation-personnel-title{
    color: #FFF;

    font-family: Spoqa Han Sans Neo;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.33px;
}
.studyroom-participation-personnel-text-box{
    padding: 12px 0px 12px 15px;
}
.studyroom-participation-personnel-text{
    color: #000;

    font-family: Spoqa Han Sans Neo;
    font-size: 25px;
    font-weight: 400;
}
.studyroom-next-class-date{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.studyroom-next-class-date-title-box{
    width: 210px;
    height: 54px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(24, 160, 251, 0.7);
    border-radius: 5px;
}
.studyroom-next-class-date-title{
    color: #FFF;

    font-family: Spoqa Han Sans Neo;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.33px;
}
.studyroom-next-class-date-text-box{
    padding: 12px 0px 12px 15px;
}
.studyroom-next-class-date-text{
    color: #000;

    font-family: Spoqa Han Sans Neo;
    font-size: 25px;
    font-weight: 400;
}

.studyroom-progress-rate-box{
    width: 545px;
    height: 120px;
    display: flex;
    flex-direction: column;

    gap: 5px;
}
.studyroom-progress-rate-title{
    color: #000;

    font-family: Spoqa Han Sans Neo;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -0.375px;
}
.studyroom-progress-rate-progressbar-box{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.studyroom-progress-rate-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.studyroom-start-date-box{
    padding: 2px 5px;

    background-color: rgba(24, 160, 251, 0.70);
    border-radius: 5px;
}
.studyroom-start-date{
    color: #FFF;
    
    font-family: Spoqa Han Sans Neo;
    font-size: 22px;
    font-weight: 400;
}
.studyroom-end-date-box{
    padding: 2px 5px;

    background-color: rgba(24, 160, 251, 0.70);
    border-radius: 5px;
}
.studyroom-end-date{
    color: #FFF;
    
    font-family: Spoqa Han Sans Neo;
    font-size: 22px;
    font-weight: 400;
}
.studyroom-info-notice-container{
    width: 1160px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.studyroom-info-notice-box{
    border: 4px solid rgba(24, 160, 251, 0.70);
    background-color: white;
    border-radius: 10px;

    padding: 15px 25px;

    gap: 10px;
    display: flex;
    flex-direction: column;
}
.studyroom-info-notice-title-box{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
}
.studyroom-info-notice-title-icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.studyroom-info-notice-title-icon{
    height: 50px;
    width: 50px;

    background-image: url(/src/assets/notice-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%;   
}
.studyroom-info-notice-title{
    color: #000;

    font-family: Spoqa Han Sans Neo;
    font-size: 25px;
    font-weight: 400;
}
.studyroom-info-notice-content{
    gap: 10px;
}
.studyroom-info-notice-content-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.studyroom-info-notice-icon{
    width: 8px;
    height: 8px;

    background-image: url(/src/assets/notice-content-texthead-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
}
.studyroom-info-notice-text{
    color: #000;

    font-family: Spoqa Han Sans Neo;
    font-size: 25px;
    font-weight: 400;
}
.notice-contents-left-box {
    width: 755px;
    height: 570px;

    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 1);
}

.studyroom-info-todo-list-container{
    width: 1160px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.studyroom-info-todo-list-box{
    border: 4px solid rgba(24, 160, 251, 0.70);
    background-color: white;
    border-radius: 10px;

    padding: 15px 25px;

    gap: 10px;
    display: flex;
    flex-direction: column;
}
.studyroom-info-todo-list-title-box{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;   
}
.studyroom-info-todo-list-icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.studyroom-info-todo-list-title-icon{
    height: 50px;
    width: 50px;

    background-image: url(/src/assets/notice-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%;   
}
.studyroom-info-todo-list-title{
    color: #000;

    font-family: Spoqa Han Sans Neo;
    font-size: 25px;
    font-weight: 400;
}
.studyroom-info-todo-list-content{
    gap: 10px;
}
.studyroom-info-todo-list-content-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.studyroom-info-todo-list-icon{
    width: 8px;
    height: 8px;

    background-image: url(/src/assets/notice-content-texthead-icon.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.studyroom-info-todo-list-text{
    color: #000;

    font-family: Spoqa Han Sans Neo;
    font-size: 25px;
    font-weight: 400;
}
.studyroom-info-button-box{
    width: 1160px;
    height: 95px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background-color: rgba(24, 160, 251, 1);
}
.studyroom-info-button-box:hover{
    cursor: pointer;
}
.studyroom-join-button-text{
    color: #FFF;

    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 27px;
    font-weight: 700;
}
