.dropdown-box {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 20px;
}

.dropdown-header {
  color: rgba(207, 207, 207, 1);

  width: 185px;
  height: 45px;
  margin-bottom: 2px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  
  border-radius: 10px;
  border: 3px solid rgba(24, 160, 251, 1);
  background-color: rgba(255, 255, 255, 1);
}

.dropdown-header:hover {
  cursor: pointer;
  background-color: rgba(24, 160, 251, 0.3);
}

.dropdown-header.selected {
  color: rgba(0, 0, 0, 1);
}

.dropdown-list {
  padding: 5px 5px 5px 5px;
  width: 205px;
  height: 200px;
  
  position: absolute;

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);

}

.dropdown-list-index {
  width: 100%;
  height: 43px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;

  border-radius: 5px;
}

.dropdown-list-index:hover {
  cursor: pointer;
  background-color: rgba(232, 241, 255, 1);
}

.track-vertical {
  top: 2px;
  bottom: 2px;
  right: 7px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.111);
}

.track-vertical .thumb-vertical {
  padding: 0 7px 0 0;
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(24,160,251,1);
}