.main-middle-box-studyroom-data {
    height: 217px;

    box-shadow: 0 0 0 2px rgba(24, 160, 251, 0.5) inset;
    background-color: rgba(255,255,255,1);

    border-radius: 15px;

    display: flex;
    flex-direction: column;

    background-repeat : no-repeat;
    background-position: 50% 50%;
    background-size : contain;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-middle-box-studyroom-data:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(24, 160, 251, 0.5);
}

.main-middle-box-studyroom-deadline-time {
    color: rgba(0,0,0,1);

    font-size: 16px;
    font-weight: 400;

    margin: 8px 0px 0px 10px;
}

.main-middle-box-studyroom-participation-number {
    color: rgba(0,0,0,1);

    font-size: 16px;
    font-weight: 400;

    margin: 132px 0px 3px 10px;
}

.main-middle-box-studyroom-title {
    color: rgba(0,0,0,1);

    font-size: 23px;
    font-weight: 500;

    margin: 0px 10px 5px 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}